* {
    top: 0;
    left: 0;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100vw;
    background-color: #1f1f1f;
    overflow: hidden;

    display: flex;
    align-content: center;
    justify-content: center;
}

.container {
    margin: auto;
    display: block;
    position: relative;
    text-align: center;
    align-content: center;
    justify-content: center;

    width: 30%;
    height: 50vh;
    /* border: 3px solid red; */
}

.group-input {
    position: relative;
    display: block;
}

input {
    margin: 25px 0px;
    width: 100%;
    min-width: 200px;
    height: 45px;
    padding: 15px;

    background-color: transparent;
    color: #f1f1f1;

    border: 2px solid #f1f1f1;
    border-radius: 10px;
    outline: 0;
}

label {
    position: absolute;
    pointer-events: none;
    top: 40px;
    left: 10px;
    font-size: 14px;
    padding: 0px 5px;
    background-color: #1f1f1f;
    color: #f1f1f1;
    transition: ease-in-out .3s;

}

input:focus + label,
input:valid + label,
input:not(:placeholder-shown) + label {
    top: 16px;
}

.btn {
    cursor: pointer;
    width: 100%;
    min-width: 200px;
    height: 40px;
    margin-top: 30px;

    border-radius: 10px;
    border: transparent;

    font-size: 16px;
    font-weight: 600;
}