* {
    top: 0;
    left: 0;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100vw;
    background-color: #1f1f1f;
    overflow: hidden;

    display: flex;
    align-content: center;
    justify-content: center;
}

.container {
    margin: auto;
    display: block;
    text-align: center;
    align-content: center;
    justify-content: center;

    width: 30%;
    height: 50vh;
    /* border: 3px solid red; */
}

input {
    margin: 25px 0px;
    width: 100%;
    min-width: 200px;
    height: 40px;
    padding: 15px;

    background-color: transparent;
    color: #f1f1f1;

    border: 2px solid #f1f1f1;
    border-radius: 10px;
    outline: 0;
} input::placeholder{
    color: #f1f1f1; 
} 

.btn {
    cursor: pointer;
    width: 100%;
    min-width: 200px;
    height: 40px;
    margin-top: 30px;

    border-radius: 10px;
    border: transparent;
    
    font-size: 16px;
    font-weight: 600;
}